.login h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.login .box {
  margin: auto;
  margin-bottom: 20px;
  max-width: 550px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.login .row:not(:last-child) {
  margin-bottom: 15px;
}

.login button {
  width: 110px;
  background-color: #567189;
  border: none;
  color: rgb(236, 232, 232);
  padding: 7px 9px;
  font-size: 16px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.login button:hover {
  background-color: #4d667c;
}

.accessDenied h1 {
  margin-top: 40px;
  text-align: center;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #567189;
  overflow-x: hidden;
}

.sidenav button {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #4d667c;
  width: 100%;
  background-color: transparent;
  height: 80px;
  text-align: left;
  padding-left: 10px;
}

.sidenav button:hover {
  background-color: #4c667d;
}

.sidenav label {
  margin-left: 10px;
  display: inline-block;
  color: rgb(236, 232, 232);
  font-size: 16px;
}

.sidenav .bottomButton {
  position: sticky;
  top: 100%;
}

svg {
  fill: rgb(236, 232, 232);
}

.main {
  margin-left: 210px;
  margin-right: 10px;
  overflow: hidden;
}

.main h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.new-item {
  margin-top: 50px;
}

.profile {
  margin-top: 30px;
  margin-bottom: 20px;
}

.new-item label {
  font-size: 17px;
  padding: 9px 9px 9px 0;
  display: inline-block;
}

.new-save {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 100px; 
  background-color: #567189;
  border: none;
  color: rgb(236, 232, 232);
  padding: 7px 9px;
  text-align: center;
  font-size: 16px;
  border-radius: 3px;
}

.new-save:hover {
  background-color: #4c667d;
}

.edit {
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit-save {
  width: 100%;
  background-color: #567189;
  border: none;
  color: rgb(236, 232, 232);
  padding: 7px 9px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border-radius: 3px;
}

.edit-save:hover {
  background-color: #4c667d;
}

.edit-delete {
  width: 100%;
  background-color: #b65151;
  border: none;
  color: rgb(236, 232, 232);
  padding: 7px 9px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border-radius: 3px;
}

.edit-delete:hover {
  background-color: #994343;
}

select {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: horizontal;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

input[type=date],
[type=password],
[type=text] {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: horizontal;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.box {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}

.search-btn {
  width: 100%;
  background-color: #567189;
  border: none;
  color: rgb(236, 232, 232);
  padding: 7px 9px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.pdf-btn {
  width: 100%;
  background-color: rgb(236, 232, 232);
  border: none;
  color: #567189;
  padding: 7px 9px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.pdf-btn:hover{
  background-color: rgb(221, 216, 216);

}

.search-btn:hover {
  background-color: #4c667d;
}

.table-div {
  overflow-x: auto;
}

.table-div table {
  border-collapse: collapse;
  width: 100%;
}

.table-div th,
td {
  text-align: left;
  padding: 8px;
}

.table-div tr:nth-child(even) {
  background-color: rgb(236, 232, 232);
}

.total-report {
  margin-top: 30px;
  float: right;
  font-size: 17px;
  color: #567189
}

.back {
  float: left;
  border: none;
  width: auto;
  background-color: transparent;
  text-align: left;
}

.back svg {
  fill: #567189;
}

.back:hover svg {
  fill: #3a4752;
}

.next {
  float: right;
  border: none;
  width: auto;
  background-color: transparent;
  text-align: left;
}

.next svg {
  fill: #567189;
}

.next:hover svg {
  fill: #3a4752;
}

.col-md {
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.box-date {
  border: 1px solid rgb(236, 232, 232);
}

.date-label {
  padding: 5px;
  cursor: pointer;
}

.hours {
  padding: 5px;
  text-decoration: none;
  color: black;
  display: block;
}

.hours:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #a9b6c2;
}

.radio-span {
  margin-right: 10px;
}

.radios-span {
  margin-right: 15px;
}

.monthly-view {
  float: left;
  width: 100%;
  border: none;
  background-color: transparent;
  color: #4c667d;
  text-align: left;
}

.monthly-view:hover {
  font-weight: bold;
}

.add-btn {
  border: none;
  background-color: transparent;
}

.add-btn svg {
  fill: #4c667d;
}

.add-btn:hover svg {
  fill: #3a4752;
}

.table-box {
  overflow-x: auto;
}

.table-box table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.table-box th,
td {
  text-align: left;
  padding: 8px;
  width: 19, 75%;
}

.custom-width {
  width: 7%;
}

.label-btn {
  cursor: pointer;
}

.label-btn:hover .box-date{
  background-color: #c5d2d4 !important;
}

.total-hours {
  float: right;
  font-size: 17px;
  color: #567189
}


@media screen and (max-width: 800px) {
  .span-top .col-8 {
    width: 100%;
  }

  .new-item .col-4 {
    width: 100%;
  }

  .new-item .col-6 {
    width: 100%;
  }

  .edit .col-2 {
    width: 50%;
  }

  .edit .col-5 {
    width: 100%;
  }

  .edit .col-4 {
    width: 100%;
  }

  .search .col-4 {
    width: 100%;
  }

  .search .col-2 {
    width: 45%;
  }

  .timeSheet .col-10 {
    width: 100%;
  }

  .timeSheet .date-label {
    font-size: 12px;
  }

  .timeSheet .hours {
    font-size: 11px;
    padding: 0px;
  }

  .timeSheet .col-md {
    display: none;
  }

  .weeklyView .col-10{
    width: 100%;
  }

  .table-box table {
    table-layout: auto;
  }

  .table-box th,
  td {
    text-align: left;
    padding: 8px;
    width: auto;
  }

  .custom-width {
    width: auto;
  }

  .weeklyView .date {
    font-size: 9px;
  }

  .weeklyView .label-btn{
    width: 100% !important;
    font-size: 15px;
  }

}

@media screen and (min-width: 800px) and (max-width: 1100px) {

  .span-top .col-8 {
    width: 100%;
  }

  .edit .col-2 {
    width: 20%;
  }

  .search .col-4 {
    width: 30%;
  }

  .search .col-2 {
    width: 30%;
  }

  .timeSheet .col-10 {
    width: 100%;
  }

  .timeSheet .col-md {
    font-size: 14px;
  }

  .weeklyView .col-10{
    width: 100%;
  }

  .table-box table {
    table-layout: auto;
  }

  .table-box th,
  td {
    text-align: left;
    padding: 8px;
    width: auto;
  }

  .custom-width {
    width: auto;
  }

  .weeklyView .label-btn{
    font-size: 13px;
  }

}